@media screen and (min-device-width: 701px) {

.main {
	padding: 3vw 5vw 3vw 5vw;
	font: normal 100% Helvetica, Arial, sans-serif;
	color: #6a5c5c;
}

.main h1 {
	font-size: 3vw;
	font-weight: 700;
	width: 80%;
	height: 4vw;
	display: inline-block;
}

.main button {
	width: 12vw;
	height: 4vw;
	border-radius: 4vw;
	background-color: #6a5c5c;
	color: white;
	font-size: 1.6vw;
	border: none;
}

#upload {
	position: absolute;
	z-index: 10;
}

#uploadwindow {
	display: none;
	width:20vw; 
	height: 8vw; 
	padding: 3vw; 
	line-height: 5vw; 
	background-color: #f1f1f1; 
	color: #6a5c5c; 
	font-weight: 300; 
	position: relative;
	text-align: center;
}

#img_input {
  display: none;
}

#img_label {
	width: 16vw;
	height: 3vw;
	background-color: #6a5c5c;
	color: white;
	font-size: 1.5vw;
	border-radius: 2vw;
	cursor: pointer;
	position: absolute;
	left: 4.5vw;
	text-align: center;
}

#img_label span {
	position: absolute;
	left: 2.6vw;
	bottom: -1vw;
}

#preview_box img {
  width: 10vw;
  position: absolute;
  bottom: 3vw;
}

.exhibition {
	width: 100%;
	text-align: center;
	margin-top: 5vw;
}

.item {
	width: 26vw;
	height: 20vw;
	display: inline-block;
	position: relative;
	margin-left: -0.5vw;
}

.odd {
	background-color: #d8d8d8;
}

.even {
	background-color: #f1f1f1;
}

.item img {
	width: 80%;
	height: 65%;
	border-radius: 0.5vw;
	margin-top: 2vw;
	object-fit: cover;
}

.item .profile {
	width: 3vw;
	height: 3vw;
	border-radius: 50%;
	object-fit: cover;
	position: absolute;
	left: 2.8vw;
	bottom: 0.8vw;
}

.item p {
	font-size: 1vw;
	text-align: left;
	margin-left: 3vw;
	position: absolute;
	left: 3.6vw;
	bottom: 1.4vw;
}

#viewmore {
	font-size: 1vw;
	color: #6a5c5c;
	padding-right: 5.8vw;
	padding-top: 4vw;
	cursor: pointer;
}
}

@media screen and (max-device-width: 700px) {
.main {
	padding: 3vw 5vw 3vw 5vw;
	font: normal 100% Helvetica, Arial, sans-serif;
	color: #6a5c5c;
}

.main h1 {
	font-size: 6vw;
	font-weight: 700;
	width: 60%;
	height: 7vw;
	display: inline-block;
}

.main button {
	width: 30vw;
	height: 7vw;
	border-radius: 7vw;
	background-color: #6a5c5c;
	color: white;
	font-size: 3.2vw;
	border: none;
	display: inline-block;
}

#upload {
	position: absolute;
	z-index: 999;
}

#uploadwindow {
	display: none;
	width:100%; 
	height: 20vw; 
	/*padding: 3vw; */
	line-height: 5vw; 
	background-color: #f1f1f1; 
	color: #6a5c5c; 
	font-weight: 300; 
	position: relative;
	text-align: center;
}

#uploadwindow span {
	font-size: 2vw;
}

#uploadwindow input {
	width: 20vw; 
	height:4vw;
}

#img_input {
  display: none;
}

#img_label {
	width: 70%;
	height: 4vw;
	background-color: #6a5c5c;
	color: white;
	border-radius: 2vw;
	cursor: pointer;
	position: absolute;
	left: 4.2vw;
	margin-top: 2.4vw;
	text-align: center;
}

#img_label span {
	position: absolute;
	left: 2.6vw;
	bottom: -1vw;
}


.exhibition {
	width: 100%;
	text-align: center;
	margin-top: 5vw;
}

.item {
	width: 100%;
	height: 70vw;
	display: inline-block;
	position: relative;
	/*margin-left: -0.5vw;*/
}

.odd {
	background-color: #d8d8d8;
}

.even {
	background-color: #f1f1f1;
}

.item img {
	width: 80%;
	height: 65%;
	border-radius: 0.5vw;
	margin-top: 5vw;
	object-fit: cover;
}

.item .profile {
	width: 9vw;
	height: 9vw;
	border-radius: 50%;
	object-fit: cover;
	position: absolute;
	left: 8vw;
	bottom: 6vw;
}

.item p {
	font-size: 2.6vw;
	text-align: left;
	margin-left: 3vw;
	position: absolute;
	left: 16vw;
	bottom: 6vw;
}

#viewmore {
	font-size: 2.6vw;
	color: #6a5c5c;
	padding-right: 5.8vw;
	padding-top: 4vw;
	cursor: pointer;
	margin-bottom: 20vw;
}
}