/* CSS for footer*/
@media screen and (min-device-width: 701px) {
.footer {
	width: 100%;
	height: 0;
	padding-top: 10%;
	margin-top: 10%;
	background-color: #fdb82c;
	color: #6a5c5c;
	display: inline-block;
	position: relative;
	font: normal 100% Helvetica, Arial, sans-serif;
}

.contact {
	width: 20%;
	position: absolute;
	top: 15%;
	left: 2%;
}

.contact p {
	margin: 0.5vw;
	font-size: 1.2vw;
}

.icon {
	position: absolute;
	bottom: 20%;
	left: 80%;
}

.icon img {
	width: 4vw;
	margin-left: 1vw;
}

.bottom-bar {
	display: none;
}
}

@media screen and (max-device-width: 700px) {
	.footer {
		width: 100%;
		height: 15vw;
		background-color: #fdb82c;
		color: #6a5c5c;
		position: fixed!important;
		z-index: 9990;
		bottom: 0;
	}

	.footer .bottom-bar {
		display: block;
		width: 100%;
		height:15vw;
		position: fixed;
		z-index: 9992;
		bottom: 0;
		text-align: center;
	}

	.footer .bottom-bar .mobile-icon {
		width: 24%;
		height: 13vw;
		color: #6a5c5c;
		display: inline-block;
		line-height: 0vw;
		margin-top: 1.4vw;
		text-align: center;
	}

	.mobile-icon img {
		height: 7vw;
		width: auto;
	}

	.mobile-icon p {
		font-size: 4.2vw;
	}

	.icon,.contact {
		display: none;
	}
}
