/* CSS for header*/
@media screen and (min-device-width: 701px) {
.header {
	width: 100%;
	height: 14vw;
	background-color: #fdb82c;
	color: white;
	position: relative;
	font: normal 100% Helvetica, Arial, sans-serif;
}

.logo {
	width: 25%;
	padding-left: 2%;
	position:absolute;
	bottom:5%;
}

.selection {
	width: 60vw;
	position: absolute;
	bottom: 5%;
	left: 30%;
}

.selection ul {
	list-style: none;
	padding: 0;
	width: 100%;
	height: 100%;
}

.selection ul li {
	float: left;
	background-color: #c5b595;
	width: 12.6vw;
	padding-bottom: 6.5%;
	height: 0;
	display: inline-block;
	margin: 3%;
	border-radius: 2vw;
	text-align: center;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.selection .btn {
	text-decoration: none;
	font-size: 1.6vw;
	font-weight: 800;
	width: 100%;
	position: absolute;
	left: 0;
	padding-top: 6%;
	padding-bottom: 6.5%;
	color: white;
}

.dropdown {
    float: left;
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    left: 1.4vw;
    top: 3.9vw;
    background-color: #6a5c5c;
    opacity: 0.9;
    min-width: 78%;
    box-shadow: 0 1vw 2vw 0 rgba(0,0,0,0.2);
}

.dropdown .dropdown-content a, .second-level-content a {
    color: white;
    padding: 1vw 0.8vw;
    text-decoration: none;
    text-align: left;
    font-size:1.2vw;
    font-weight: 500;
    display: block;
}

.second-level {
	position: relative;
}

.second-level-content {
	display: none;
    position: absolute;
    z-index: 1;
    left: 9.8vw;
    top: 0;
    background-color: #6a5c5c;
    opacity: 0.9;
    min-width: 78%;
    box-shadow: 0 1vw 2vw 0 rgba(0,0,0,0.2);
}

.dropdown-content a:hover,.second-level-content a:hover {
	background-color: #c5b595; opacity: 1
}

.dropdown:hover .dropdown-content, .second-level:hover .second-level-content {
    display: block;
}

.selection ul li:hover .btn {
    background-color: #6a5c5c;
    border-radius: 2vw;
    margin-top: 0.62%;
}

}

@media screen and (max-device-width: 700px) {
	.header {
		width: 100%;
		height: 25vw;
		background-color: #fdb82c;
		/*color: white;*/
		position: relative;
		text-align: center;
		/*font: normal 100% Helvetica, Arial, sans-serif;*/
	}

	.logo {
		height: 20vw;
		width: auto;
		position:absolute;
		right: 1vw;
		bottom: 2vw;
	}

	.selection {
		display: none;
	}
}