/* CSS for homepage*/

@media screen and (min-device-width: 701px) {
.hero {
	width: 100%;
	margin-top: 5%;
	font: normal 100% Helvetica, Arial, sans-serif;
	position: relative;
}

.hero img {
	width: 100%;
	height: auto;
}

.orange-font {
	color: #fdb82c;
}

.hero div {
	width: 52vw;
	height: 38vw;
	background-color: white; 
	opacity: 0.7;
	position: absolute;
	left: 45%;
	top: 10%;
	color: #807373;
	font-variant:small-caps;
	font-size: 7vw;
	padding-top: 2vw;
}

.hero div p {
	height: 18vw;
	opacity: 1;
	padding-left: 8%;
	margin: 0;
	line-height: 6.2vw;
}

.hero div .semi {
	height: 6.2vw;
	font-size: 2.8vw;
	margin-top: 1.2vw;
	font-variant: normal;
	font-style: italic;
	line-height: 4vw;
}

.hero button {
	width: 24%;
	height: 0;
	padding-bottom: 4%;
	padding-top: 1.5%;
	border: none;
	border-radius:5vw;
	background-color: #c5b595;
	text-align: center;
	font-size: 2.5vw;
	color: white;
	font-weight: 700;
	position: absolute;
	bottom: 12%;
	left: 70%;
	cursor: pointer;
}

.collection {
	width: 100%;
	margin-top: 5vw;
	font: normal 100% Helvetica, Arial, sans-serif;
	text-align: center;
}

.collection h1 {
	font-size: 3vw;
	color: #756b6b;
}

.collection hr { 
    display: block;
    width: 80%;
    margin-top: 0.5vw;
    margin-bottom: 1.5vw;
    margin-left: auto;
    margin-right: auto;
}

.collection div {
	width: 35%;
	display: inline-block;
	margin: 1vw;
	position: relative;
	cursor: pointer;
}

.collection div img {
	width: 100%;
	border-radius: 2vw;
}

.collection div .intro {
	width: 100%;
	height: 3.2vw;
	background-color: #756b6b;
	opacity: 0.6;
	color: white;
	text-align: left;
	margin: 0;
	position: absolute;
	left: 0;
	bottom: 10%;
}

.intro p {
	display: inline-block;
	padding-left: 1vw;
	margin: 0.5vw 0;
}

.artwork {
	font-size: 2.3vw;
}

.author {
	font-size: 1.5vw;
}
}

@media screen and (max-device-width: 700px) {
	.semi {
		display: none;
	}

	.hero {
		width: 100%;
		margin-top: 5%;
		font: normal 100% Helvetica, Arial, sans-serif;
		position: relative;
	}

	.hero img {
		width: 100%;
		height: auto;
		
	}

	.orange-font {
		color: #fdb82c;
	}

	.hero div {
		width: 55%;
		height: 30vw;
		/*background-color: white; 
		opacity: 0.7;*/
		position: absolute;
		right: 0vw;
		top: 13vw;
		color: #807373;
		font-variant:small-caps;
		font-size: 12vw;
		padding-top: 2vw;
	}

	.hero div p {
		height: 32vw;
		opacity: 1;
		padding-left: 8%;
		margin: 0;
		line-height: 10vw;
	}

	.hero button {
		width: 100%;
		height: 48vw;
		position: absolute;
		top: 0;
		opacity: 0;
	}

	.collection {
		width: 100%;
		margin-top: 5vw;
		margin-bottom: 20vw;
		font: normal 100% Helvetica, Arial, sans-serif;
		text-align: center;
	}

	.collection h1 {
		font-size: 6vw;
		color: #756b6b;
	}

	.collection hr { 
	    display: block;
	    width: 80%;
	    margin-top: 0.5vw;
	    margin-bottom: 1.5vw;
	    margin-left: auto;
	    margin-right: auto;
	}

	.collection div {
		width: 80%;
		display: inline-block;
		margin: 1vw;
		position: relative;
		cursor: pointer;
	}

	.collection div img {
		width: 100%;
		box-shadow: 0px 1px 3px #888888;
		border-radius: 0.2vw;
	}

	.collection div .intro {
		width: 100%;
		height: 8vw;
		background-color: #756b6b;
		opacity: 0.6;
		color: white;
		text-align: left;
		margin: 0;
		position: absolute;
		left: 0;
		bottom: 10%;
	}

	.intro p {
		display: inline-block;
		padding-left: 1vw;
		margin: 0.5vw 0;
	}

	.artwork {
		font-size: 5vw;
	}

	.author {
		font-size: 3.5vw;
	}

}