
@media screen and (min-device-width: 701px) {
.main {
	font: normal 100% Helvetica, Arial, sans-serif;
	
}

.main h1 {
	color: #6a5c5c;
	font-weight: 300;
	margin: 4vw 0 3vw 3vw;
}

.navigation {
	width: 100%;
	height: 40vw;
	background-color: #897c7c;
	position: relative;
	color: white;
}

.main-pic {
	width: 45%;
	height: 86%;
	object-fit: cover;
	position: absolute;
	left: 3vw;
	top: 2vw;
	border: 0.5vw solid white;
}

.navigation p {
	font-size: 1.5vw;
	width: 46%;
	position: absolute;
	top: 2vw;
	left: 51.6vw;
	line-height: 2.6vw;
}

.gallery {
	/*float: right;*/
	width: 50%;
	/*height: 100%;*/
	text-align: center;
	position: absolute;
	top: 13vw;
	left: 50vw;
}

.container {
	width: 30%;
	display: inline-block;
	position: relative;
}

.container img {
	width: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #2a2622;
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  cursor: pointer;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 1.6vw;
  font-weight: 400;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text span {
	font-size: 1.1vw;
}
}

@media screen and (max-device-width: 700px) {
	.main {
		font: normal 100% Helvetica, Arial, sans-serif;
	}

	.main h1 {
		width: 60%;
		font-size: 6vw;
		color: #6a5c5c;
		font-weight: 300;
		padding: 0 0 0 4vw;
		/*margin: 4vw 0 3vw 3vw;*/
	}

	.navigation {
		width: 100%;
		height: 80vw;
		/*text-align: center;*/
	}

	.main-pic {
		width: 100%;
		height: 60vw;
		object-fit: cover;
	}

	.navigation p {
		font-size: 4vw;
		color: #6a5c5c;
		width: 90%;
		margin: 5vw;
		line-height: 6vw;
	}

	.gallery {
		/*float: right;*/
		width: 100%;
		/*height: 100%;*/
		text-align: center;
		/*position: absolute;
		top: 13vw;
		left: 50vw;*/
	}

	.container {
		width: 32.5%;
		display: inline-block;
		position: relative;
		margin-bottom: 20vw;
	}

	.container img {
		width: 100%;
		margin-bottom: 0;
	}

	.overlay {
		position: absolute;
		top: 0;
	  /*bottom: 0;*/
		left: 0;
		right: 0;
		background-color: #2a2622;
		opacity: 0.4;
		overflow: hidden;
	  /*width: 100%;*/
		height:100%;
		cursor: pointer;
		margin-bottom: 0;
	}

	.text {
		white-space: nowrap; 
		color: white;
		font-size: 4vw;
		font-weight: 400;
		position: absolute;
		overflow: hidden;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.text span {
		font-size: 3vw;
	}
}
