@media screen and (max-device-width: 700px) {
/* For small screens */
	#header-complete {
		width: 100%;
		height: 15vw;
		position: fixed;
		background-color: #fdb82c;
		top: 0;
		left: 0;
		z-index: 9995;
	}

	.goBack {
		height: 8vw;
		width: auto;
		float: left;
		margin-top: 4vw;
		margin-left: 5vw;
	}

	.dropdown {
		height: 8vw;
		width: 60%;
		position: relative;
		float: right;
		margin-top: 4vw;
		margin-right: 5vw;
	}

	.selector img {
		height:100%;
		width: auto;
		float: right;
	}

	.dropdown .pafenums .option {
		color: white;
		text-decoration: none;
		display: inline-block;
	}

	.tutorial {
		font: normal 100% Helvetica, Arial, sans-serif;
	}

	.info-box {
		width: 100%;
		height: 80vw;
	}

	.title {
		font-size: 5vw;
		font-weight: 500;
		margin-top: 7vw;
		margin-left: 4vw;
	}

	.intro {
		width: 90%;
		font-size: 3.5vw;
		color: #6a5c5c;
		line-height: 6vw;
		padding: 0;
		text-align: justify;
		margin-left: 4vw;
	}

	.info-box h2 {
		display: none;
	}

	.intro span {
		font-size: 3.8vw;
		color: #f65990;
	}

	.intro-img {
		display: none;
		/*margin-right: 5vw;*/
	}

	.info-box a {
		display: none;
		/*text-decoration: none;*/
		color: black;
		font-weight: 700;
		font-size: 3.8vw;

	}

	.gallery {
		display: none;
	}

	.video-tut {
		padding: 5vw 2vw 5vw 2vw;
	}

	.video-info {
		font-size: 3.5vw;
		color: #6a5c5c;
		line-height: 6vw;
		padding: 0;
		text-align: right;
		margin-right: 3vw;
	}

	.video {
		width: 95%;
		height: 52vw;
		margin-left: 1.5vw;
	}

	.first {
		width: 100%;
		height: auto;
		padding-top: 2vw;
		padding-bottom: 2vw;
		color: white;
		text-align: center;
		background-color: #6a5c5c;
		opacity: 0.6;
	}

	.view-complete {
		width: 70vw;
		height:10vw;
		border-radius: 5vw;
		border: none;
		background-color: #c5b595;
		color: white;
		font-size: 5vw;
		margin-left: 15vw;
		margin-bottom: 20vw;
	}

	.mySlides img,.mySlides .process,.main img,.main .process {
		width: 90%;
		margin-left: 5vw;
		text-align: justify;
		color:#6a5c5c;
		line-height: 7vw;
		font-size: 3.6vw;
	}

	.pagination,.dot-container,.floating {
		display: none;
	}

	.main {
		font: normal 100% Helvetica, Arial, sans-serif;
	}

	.num {
		font-size: 5.2vw;
		width: 100%;
		height: auto;
		padding-top: 2vw;
		padding-bottom: 2vw;
		color: white;
		text-align: center;
		background-color: #6a5c5c;
		opacity: 0.6;
	}

}