html body {
	width: 100%;
	margin: 0;
}

.floating {
	width: 5vw;
	height: 5vw;
	opacity: 0.6;
	position: fixed!important;
	z-index: 9999;
	right: 5vw;
	bottom: 5vw;

}

.floating:hover {
	opacity: 1;
	width: 5.3vw;
	height: 5.3vw;
	right: 4.8vw;
	bottom: 4.8vw;
}

}



