/* CSS for tutorial pages*/
@media screen and (min-device-width: 701px) {

.overlay {
	display: none;
}

.view-complete {
	display: none;
}

.tutorial {
	padding: 2vw 0 0 0;
	font: normal 100% Helvetica, Arial, sans-serif;
}

.info-box {
	padding: 0 5vw 0 5vw;
}

.title {
	font-size: 2.2vw;
	font-weight: 600;
}

.info-box h2 {
	font-size: 2vw;
	font-weight: 500;
	padding-bottom: 1vw;
}

.intro {
	width: 55vw;
	font-size: 1.6vw;
	color: #6a5c5c;
	line-height: 3vw;
	padding: 0;
	margin: 0 0 0.3vw 0;
}

.intro span {
	font-size: 1.8vw;
	color: #f65990;
}

.intro-img {
	width: 30vw;
	border-radius: 1vw;
	float: right;
	/*margin-right: 5vw;*/
}

.info-box a {
	/*text-decoration: none;*/
	color: black;
	font-weight: 700;
	font-size: 1.6vw;

}


.video-tut {
	padding: 0 5vw 0 5vw;
}

.video {
	width: 56vw;
	height: 32vw;
}

.video-info {
	width: 55vw;
	font-size: 1.6vw;
	color: #6a5c5c;
	padding: 0;
}

.gallery {
	width: 30vw;
	height: 50vw;
	float: right;
	background-color: #6a5c5c;
	color: white;
	position: relative;

}

.heading {
	width: 100%;
	height: 2.5vw;
	margin:2vw 0 0 0;
	background-color: #6a5c5c; 
}
.gallery h1 {
	font-size: 2vw;
	font-weight: 500;
	position: absolute;
	top: 1vw;
	left: 2vw;
}

.item {
	margin: 1.5vw 2vw 0 2vw;
	position: relative;
	/*background-color: white;*/
}

.item .background {
	border-radius: 0.5vw;
	background-color: white;
}

.item img {
	width: 26vw;
	height: 16vw;
	border-radius: 0.5vw;
	object-fit: cover;
}

.item .profile {
	width: 3vw;
	height: 3vw;
	border-radius: 50%;
	object-fit: cover;
	margin-top: 0.5vw;
}

.item .username {
	width: 5vw;
	font-size: 1.2vw;
	color: white;
	font-weight: 400;
	position: absolute;
	bottom: 0.2vw;
	left: 3.5vw;
}

.item img:hover {
	opacity: 0.5;
	/*box-shadow: 3px -3px 7px black;*/
}

.anchor {
	clear: right;
	width: 100%;
	height: 2vw;
}

.graphical-tut {
	width: 100%;
	height: 45vw;
	background-color: #d8d8d8;
	position: relative;
}

.container {
	width: 95%;
	height: 90%;
	/*background-color: orange;*/
	position: absolute;
	top: 5%;
	left: 2%;
}

.container .mySlides {
	display:none;
	width: 100%;
	height: 100%;
	position: inherit;
	font-size: 2vw;
	font-weight: 500;
}

.mySlides p {
	font-size: 1.8vw;
	padding-left: 10vw;

}

.mySlides img {
	width: 50vw;
	/*padding-top: 5vw;*/
	padding-left: 4vw;
	/*display: inline-block;*/
}

.mySlides .process {
	width: 25vw;
	float: left;
	color: #8e8c8d;
	font-size: 1.2vw;
	text-align: justify;
	line-height: 2vw;
	margin: 0;
}

.pagination {
	padding-left: 12vw;
	width: 20vw;
	font-size: 3vw;
	color: #8e8c8d;
}

.previous {
	display: block;
	float:left!important;
	cursor: pointer;
}

.next {
	display: block;
	float:right!important;
	cursor: pointer;
}

.previous:hover,.next:hover {
	color: #fdb82c;
}

.container .dot-container {
	position: inherit;
	float: left;
}

/*.container .dot-container-horizontal {
	position: inherit;
}*/

.dot {
	height:1.2vw;
	width:1.2vw;
	padding:0;
	margin: 1vw 0 0 3vw;
	background-color:#6a5c5c;
	border-radius:50%;
	cursor: pointer;
	display: inline-block;
}

.dot-selected,.dot-hover:hover {
	background-color:#c5b595;
}

.dot-set {
	width: 7vw;
	position: relative;
}

.note-hover {
	display: none;
	width: 5vw;
	position: absolute;
	top: -1vw;
	cursor: pointer;
}

.dot-set:hover .note-hover {
	display: inline-block;
}
}
